
  .ui.button, .ui.button, .ui.button  {
    background-color: #46c8f3;
    color: white;
    letter-spacing: 2px;
  } 

  .ui.button:active, .ui.button:hover{
    background-color: #2d2e44;
    color: white;
  }