// Colors
$primary: rgb(2, 5, 59);//#a179ff;
$secondary: #2659eb;
$darkPurple: #574ca1;
$blue: #4d8cf0;
$subtleBlue: #e8f0fd;
$darkBlue: #16314e;
$subtleBackground: #f9f6ff;
$subtleText: #d1d1d1;
$shadow: rgba(0,0,0,0.1);
$warning: #dc3545;
$white: #ffffff;
$black: #000000;
